<% provide(:title, "Home") %>

<section class="mb-4 d-flex justify-content-between">
  <h3>Post Album</h3>
  <%= link_to "New Post", new_post_path, class: "btn btn-primary" %>
</section>

<div id="user_posts">
  <%= render "posts" %>
</div>

<div id="auto_next_link">
  <%= render "shared/auto_incremental_pagy" %>
</div>
