<% provide(:title, "Edit Post") %>
<% provide(:button_text, "Update Post") %>

<div class="row justify-content-center">
  <div class="col-sm-12 col-md-7 mb-4">
    <h3 class="text-center">Edit Post</h3>
  </div>

  <div class="col-sm-12 col-md-7">
    <%= render "form" %>
  </div>
</div>
