<% provide(:title, "Post History") %>

<h2 class="mb-4">Post History</h2>

<div id="user_posts">
  <%= render "posts" %>
</div>

<div id="auto_next_link">
  <%= render "shared/auto_incremental_pagy" %>
</div>
