<% provide(:title, @post.title) %>

<% if @post.archive? %>
  <span class="badge badge-danger mb-2">Archived</span>
<% end %>

<h2 class="mb-3"><%= @post.title %></h2>
<%= render "shared/tag_list", tags: @post.tags %>
<p><%= @post.body %></p>
