body {
  background-color: #FBFBCA;
}

#main_content {
  margin-top: 75px;
  margin-bottom: 15px;
}

.main-content-card {
  background-color: #FBFBCA;
  min-height: calc(100vh - 90px);
}

.navbar-brand {
  text-transform: uppercase;
}
